<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KZTF</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="header">
      <div class="header-logo">XENON</div>
      <div class="header-list">
        <ul>
          <li>HOW TO PLAY</li>
          <li>NEW GAMES</li>
          <li>RESIGN</li>
        </ul>
      </div>
    </div>

    <div class="main">
    </div>
    
    <div class="footer">
    </div>
  </html>
  
